:root {
	--bg-color: #F8F8F8;
	--deepblue: #005C8D;
	--lightblue: #00C2FF;
	--blue: #0996EE;
	--yellow: #E6A800;
}

body, html { 
	line-height: 1.2;
	background-color: var(--bg-color);
}

header { 
	background-color: rgba(255,255,255,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

section { position: relative; }

footer {
	line-height: 1.5;
	border-top: 1px solid rgba(0,0,0,0.25);
	background-color: var(--white);
}

.home { 
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.home > img { object-fit: cover; }

.nav-menu {	font-weight: 500; }

.nav-menu .nav-link:not(.nav-link-cta) { 
	color: var(--dark) !important;
	transition: all 0.2s ease-in-out;
}

.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus,
.nav-menu .nav-link:active { color: var(--deepblue) !important; }

.nav-link-cta {
	color: var(--white) !important;
	background-color: var(--deepblue);
	padding: 2px 20px 6px !important;
    margin-top: 4px;
    margin-left: 10px;
	border-radius: 25px;
}

.nav-menu .nav-link.nav-link-cta:hover,
.nav-menu .nav-link.nav-link-cta:focus,
.nav-menu .nav-link.nav-link-cta:active { color: var(--white) !important; }

.home .home-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.searchbar { position: relative; }

.searchbar input {
	border-radius: 10px;
	padding-left: 40px;
}
.searchbar button {
	background-color: transparent;
	border: none;
	padding: 0;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -14px;
}
.social a { 
	color: var(--dark);
	margin-right: 10px;
}
.social a:hover { color: var(--deepblue); }
.cards-specialist .card { border:none; }

.card-specialist { transition: all 0.2s ease-in-out; }

.card-specialist .card-body a { color: inherit; }

.card-specialist .card-body a:hover { text-decoration: none; }

.card-specialist .card-body h5,
.card-specialist .card-body p {
	margin: 0;
	line-height: 1.1;
}
.specialist-rate {
	color: var(--yellow);
	position: absolute;
	top: 5px;
	right: 10px;
}
.footer-link { margin: 0; }
.footer-link a { color: var(--gray); }
.footer-link a:hover,
.footer-link a:focus,
.footer-link a:active { 
	color: var(--deepblue);
	text-decoration: none;
}
.font-weight-500 { font-weight: 500; }
.text-deepblue { color: var(--deepblue); }
.text-gray { color: var(--gray); }
.text-lightblue { color: var(--lightblue); }
.text-blue { color: var(--blue); }
.text-yellow { color: var(--yellow); }
.text-absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.text-absolute h2 { line-height: 1; }
.title { letter-spacing: 4px; }

.bg-img2 {
	background: url(../img/img2.png)no-repeat center center;
	background-size: cover;
}

.bg-lightblue { background-color: var(--lightblue); }

.btn-deepblue {
	color: var(--white);
	background-color: var(--deepblue);
	border-color: var(--deepblue);
}

.card-service { 
	border: none;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	transition: all 0.2s ease-in-out;
}

.card-calendar .list-group-item {
	padding: 0.25rem;
	font-size: 90%;
}

.card-calendar .calendar-details .col { 
	padding-left: 5px;
	padding-right: 5px;
}

.card-service:hover,
.card-specialist:not(.specialist-profile):hover { box-shadow:  0 .5rem 1rem rgba(0,0,0,.15); }

.card-img-container { display: flex; }

.card-img-container img { object-fit: cover; }

.specialist-profile {
	border: none;
	background-color: transparent;
}

.specialist-profile-info {
	border: 1px solid rgba(0,0,0,0.25);
}

.pb-6, .py-6 {
    padding-bottom: 4rem!important;
}

.pb-7, .py-7 {
    padding-bottom: 5rem!important;
}

.pt-6, .py-6 {
    padding-top: 4rem!important;
}

.pt-7, .py-7 {
    padding-top: 5rem!important;
}

@media (max-width: 767px) { 
	main{ padding-top: 60px; }
	
	.home {
		display: block;
		height: auto;
	}

	.home .home-wrapper {
		padding-top: 1rem;
		padding-bottom: 1.5rem;
		position: relative;
		height: auto;
	}

	nav.navbar { background-color: var(--white); }

	.navbar .nav-link {	padding-left: 10px !important; }

	.nav-link-cta {
		margin-left: 0;
		border-radius: 0;
	}

	.pb-7, .py-7 {
	    padding-bottom: 3rem!important;
	}

	.pt-7, .py-7 {
	    padding-top: 3rem!important;
	}
}